<h3 class="col-12">
    Nouveau Produit
</h3>
<form class="form form-inline" data-table="product" >
    <input type="hidden" data-field="id" >
    <input type="text" data-field="nom" class="form-control ml-2" placeholder="Nom produits">
    <input type="text" data-field="description" class="form-control ml-2"  placeholder="Description">
    <input type="text" data-field="prix" class="form-control ml-2"  placeholder="Prix H.T.">
    <select class="form-control ml-2" data-field="category_id"  placeholder="Categorie">
        
    </select>
    <button data-action="insertOrUpdate" type="button" id="btnValid" class="btn btn-success ml-2">Valider</button>
</form>